.App {
  text-align: center;
}

.App-header {
  background-color: grey;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #c3e5ee;
}

h1 {
  font-size: 2em;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  height: 100vh; 
}

.input-container {
  width: 90%;
  max-width: 800px;
  margin: 20px 0;
}

.filepond--root {
  font-family: inherit;
}

.filepond--label-action {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

textarea {
  width: 50%;
  min-height: 100px; 
  font-size: 1em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.video-input-container {
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}


.submit-button {
  background-color:grey;
  color: white;
  padding: 20px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: grey;
}
